
@import 'utilities/variables';
@import 'base/normalize';
@import 'base/fonts';
@import 'layout/header';
@import 'layout/footer';
@import 'components/buttons';
@import 'pages/team';

html {
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
  }

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.title {
    margin: 0;
    padding: 0;
}



