
@use 'utilities/variables' as *;
@use 'base/normalize';
@use 'base/fonts';
@use 'base/common';
@use 'layout/header';
@use 'layout/best_qualities_section';
@use 'layout/services_section';
@use 'layout/team_main_section';
@use 'layout/partners_section';
@use 'layout/publications_section';
@use 'layout/footer';
@use 'pages/team';


.main_page_background {
  background: $color-gradient-supersoft;
  position: relative;
  border-radius: 0 0 12px 12px;
  z-index: -5;
}


  .header_bread_crumbs__item::after {
    display: none;
  }








