$color-main: rgba(50, 50, 100, 1);
$color-main-alt: rgba(70, 70, 110, 1);
$color-main-soft: rgba(104, 104, 135, 1);

$color-accent: rgba(240, 20, 90, 1);

$color-active-regular: rgba(36, 163, 255, 1);
$color-active-hover: rgba(0, 133, 255, 1);
$color-active-active: rgba(0, 108, 207, 1);