@use "utilities/variables" as *;
@use "base/normalize";
@use "base/fonts";
@use "base/common";
@use "components/buttons";

.best_qualities {
  padding: 30px 30px 15px 30px;
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    margin-bottom: 30px;
    min-width: calc(100% + 30px);
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      &__btn {
        color: $color-grey-text;
      }

      &__btn:hover {
        color: $color-accent;
      }
    }
  }

  &__description {
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 30px;

    &__title {
      margin-bottom: 30px;
    }

    &__text {
      font-size: 1.2rem;
      line-height: 1.875rem;
    }
  }

  .is-active {
    background-clip: text;
    background: $color-gradient-red-text-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media screen and ($tablet_sd) {

  .best_qualities {
    padding: 60px 60px 30px 60px;

    &__list {
      min-width: calc(100% + 60px);
    }
  }
}

@media screen and ($tablet_hd) {
  .best_qualities {
    padding: 60px;
    flex-direction: row;
    justify-content: center;

    &__list {
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      min-width: 50%;
      padding: 10px 60px 10px 0;
      margin-bottom: 0;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      padding: 10px 0 10px 60px;
      border-top: none;
      border-left: 4px solid rgba(255, 255, 255, 0.3);

      &__title {
        margin-bottom: 30px;
      }
    }

    .is-active {
      background-clip: text;
      background: $color-gradient-red-text-reversed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
