@use "utilities/variables" as *;
@use "base/normalize";
@use "base/fonts";
@use "base/common";

.publications {
  padding: 30px;
  background-color: $color-grey-bg;

  &__cards {
    display: grid;
    gap: 30px 30px;

    @media screen and ($tablet_sd) {
      grid-template-columns: repeat(2, 1fr);
      &__item:last-child {
        grid-column: 1 / span 2;
      }
    }

    @media screen and ($tablet_hd) {
        grid-template-columns: repeat(3, 1fr);
        &__item:last-child {
          grid-column: auto;
        }
      }

    &__item {
      background-color: white;
      border-radius: 8px;
      overflow: hidden;

      &__img {
        height: 200px;
        overflow: hidden;

        &__pic {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__definition {
        padding: 30px;

        &__title {
          color: $color-active-regular;
          margin-bottom: 15px;
        }

        &__date {
          display: block;
          color: $color-grey-text;
          font-size: 0.75rem;
          line-height: 1rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding-bottom: 15px;
          border-bottom: 4px solid $color-grey-separator;
          margin-bottom: 15px;
        }

        &__description {
          display: inline-block;
          color: black;
          font-size: 0.875rem;
          line-height: 1.375rem;
        }
      }

      &__item:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and ($tablet_sd) {
    padding: 30px 60px;
  }

  @media screen and ($desktop_hd) {
    padding: 30px 160px;
  }
}
