
@use 'utilities/variables' as *;
@use 'base/normalize';
@use 'base/fonts';
@use 'base/common';


.publications {
    padding: 30px;

&__cards {
    display: grid;

&__item {
    margin-bottom: 30px;
}

&__title {
}

&__date {
}

&__description {
}

&__icon {
}
}
}