@import "../utilities/variables";
@import "../base/_normalize";
@import "../base/_fonts";
@import "../layout/_header";
@import "../layout/_footer";


html {
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: $color-main;
}

body {
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.title {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.team {
    background-color: white;
  }

.team__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.team__title {
  display: inline-block;
  font-size: 1.875rem;
  line-height: 2.3rem;
  margin-bottom: 30px;
  background-clip: text;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team__employees__cards {
  flex: 1 1 auto;
}

.team__employee__photo {
  width: 315px;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
}

.team__employee__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__employee__about {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0 30px 0;
}

.team__employee__page_link {
  text-decoration: none;
}

p {
  margin: 0;
}

.team__employee__name {
  color: $color-main;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 5px;
}

.team__employee__position {
  color: $color-grey-text;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1rem;
}

.team__employee__page_link:hover .team__employee__name,
.team__employee__page_link:hover svg path {
  color: $color-accent;
  stroke: $color-accent;
}

@media screen and ($tablet_sd) {

  .team__container {
    padding: 60px;
  }

  .team__title {
    font-size: 2.375rem;
    line-height: 3rem;
    margin-bottom: 60px;
  }
  
.team__employees__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 50%;
  justify-content: space-around;
  gap: 60px;
}

.team__employee__photo {
  height: 400px;
  max-width: 294px;
  overflow: hidden;
  border-radius: 12px;
}

.team__employee__about {
  padding: 15px 0 0 0;
}

}

@media screen and ($tablet_hd) {

  .team__title {
    margin: 0 120px 60px 120px;
}
  
.team__employees__cards {
  flex: 1 1 33.333%;
  gap: 60px;
}

.team__employee__photo {
  width: 261.33px;
}

}

@media screen and (min-width: 1340px) {
  
  .team__employees__cards {
    gap: 160px;
}

}

@media screen and ($desktop_sd) {

  .team__employee__photo {
    min-width: 400px;
  }

  .team__employee__photo img {
    width: 100%;
    height: 100%;
  }

}

@media screen and ($desktop_hd) {

  .team__employee__photo {
    min-width: 493.33px;
  }

  .team__employee__photo img {
    width: 100%;
    height: 100%;
  }

}