@use "utilities/variables" as *;
@use "base/normalize";
@use "base/fonts";
@use "base/common";

.team__main {
  background-color: white;
  padding: 30px;
  position: relative;

  @media screen and ($tablet_sd) {
    padding: 60px 60px 30px 60px;
  }

  @media screen and ($desktop_hd) {
    padding: 60px 160px 30px 160px;
  }

  &__cards {
    display: flex;
    


    &__item {
      flex-direction: column;
        background-color: $color-grey-bg;
        border-radius: 12px;
        overflow: hidden;

        @media screen and ($tablet_hd) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
    // Поменять картинке ширbну

    // Завернуть публикации в ссылку
        &__photo {
            height: 500px;
            overflow: hidden;

            @media screen and ($tablet_hd) {
                min-width: 400px;
                height: auto;
              }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__description {
            padding: 30px;

            &__name {
                color: $color-grey-text;
                padding-bottom: 6px;
            }

            &__position {
                color: $color-grey-text;
                padding-bottom: 30px;
            }
        }
    }
  }
}

.swiper {
  margin-bottom: 30px;
}


.swiper-pagination {

  .swiper-pagination-bullet {
    height: 16px;
    width: 16px;
    background-color: $color-active-regular;
    opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

