
@import "../utilities/variables";
@import "../base/normalize.scss";
@import "../base/fonts.scss";

html {
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $color-grey-bg;
}